.App {
    text-align: left;
    max-width:400px;
    margin: 10px auto;
}

.coder {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(73, 52, 52);
  line-height: 10px;
}
