.WeatherApp {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/045/362/original/Untitled_design_%281%29.gif?1662224311");
  background-size: 1500px;
  padding: 16px;
  text-align: center;
}

.coder {
  margin-bottom: 18px;
  margin-top: 5px;
  font-family:monospace;
  color: rgb(245, 235, 235);
  font-size:14px;
}

