.Weather {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/045/327/original/Yellow_Simple_Movie_Review_Instagram_Story.png?1662216976");
  background-size:400px;
  width:400px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid rgb(219, 216, 216);
  border-radius: 10px;
}

.Weather .search-bar {
  display: flex;
  border: 0.9px solid rgb(90, 87, 87);
  border-radius: 200px;
  margin-bottom: 5px;
  margin-left: 42px;
  margin-right: 42px;
}

.Weather .city-input {
  flex-grow: 1;
  border: none;
  background-color: transparent;
  padding: 0.5rem 0 0.75rem 0.75rem;
  outline: none;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-style: italic;
  color: rgb(78, 59, 59);
}

.Weather button {
  border: 0.6px solid transparent;
  background-color: transparent;
}

.Weather i {
  font-size: 1.6rem;
}

.Weather form:hover {
  box-shadow: 1px 1.5px 2px rgb(70, 67, 67);
}

.Weather .date {
  text-align: center;
  font-size: 14px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(100, 84, 84);
}

.Weather h1 {
  margin:12px auto;
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 38px;
  color: rgb(73, 52, 52);
  
}

.Weather .weather-description {
  font-size: 20px;
  text-transform: capitalize;
  opacity: 0.8;
  margin-bottom: 22px;
}

.Weather h2 {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:68px;
  text-align: center;
  color: rgb(73, 52, 52);
}

.Weather .weather-icon{
  margin-right: -8px;
  vertical-align:baseline;
  display: inline-block;
  width: 100px;
}

.Weather .unit {
  font-size:18px;
  position:relative;
  top:-42px;
}

.Weather .weather-details {
  padding: 22px;
  margin-left:22px;
  margin-right:22px;
}

.Weather .border {
  border-radius: 65px;
  box-shadow: 1.5px 1px 1px rgb(37, 36, 36);
}

.Weather .feels-like-temp,
.Weather .humidity-level,
.Weather .pressure-index,
.Weather .wind-speed {
  font-size: 16px;
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(73, 52, 52);
}

.Weather .forecast-header {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  font-size: 13px;
  color: #5d626b;
}

.Weather h3 {
  text-align: center;
  font-size: 13px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #5d626b;
  margin-left:40px;
  margin-right:40px;
}

.Weather .weatherForecast {
  text-align: center;
  display: block;
}

